body{
    /*font-family: Bevan;*/
    font-family: Platypi;
    background: rgb(30, 135, 255);
    border: 3px solid black;
}

a {
    text-decoration: none;
}

.border{
    border: 3px solid black !important;
}

.btm-border{
    border-bottom: 3px solid black !important;
}